._*
.DS_Store
.tmp*~
*.bak
*.notepad
*.tmproj
*.*~

brakeman.html
rails_best_practices_output.html

/.idea
/.bundle
/.sass-cache
/.settings

.env.development
.project

config/env.rb

coverage

db/schema.rb
/db/*.sqlite3

/log/*.log

public/index.html

/tmp
