db/*.sqlite3
/log/*
!/log/.keep
/tmp

*~
.DS_Store
*.dump
.idea/
.rbenv-gemsets

coverage/
/.bundle
config/env.rb

public/app/
public/fonts/
public/img/landing/header*.jpg
public/img/landing/word_map.png
public/maps/
public/scripts/
public/styles/
