<h1><%= I18n.t('user_mailer.password.subject') %></h1>

<p>Para redefinir sua senha clique no link abaixo:</p>

<%= link_to I18n.t('user_mailer.password.subject'), @link %>

<p>Esse link irá expirar em 2 horas.</p>

<p>
  Se você não pediu que sua senha fosse redefinida, por favor ignore esse e-mail e
  sua senha continuará igual.
</p>