<%= currently_at 'Home' %>
<div class="jumbotron">
  <h1><%= t(:nome_sistema) %> <small>Cuidando de você!</small></h1>
  <p class="lead">Já pensou em um sistema online para acompanhar os dados da sua saúde? Então ... você o encontrou.</p>
  <p><a class="btn btn-lg btn-info" href="#">Saiba mais</a></p>
</div>

