<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= icon('warning fa-lg', flash[:alert]) %>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= icon('check-circle fa-lg', flash[:notice]) %>
  </div>
<% end %>
<%= yield :alert_model_error %>