<% content_for :alert_model_error do %>
  <% if tem_erro %>
    <div class="alert alert-danger" alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class='glyphicon glyphicon-remove-sign'></i> <%= t('mensagens.erros.corrigir') %>
    </div>
  <% end %>
<% end %>