<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"><%= t('links.menu') %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to icon('heart fa-lg', t('nome_sistema')), root_path, class: 'navbar-brand' %>
    </div>
    <%= yield :main_navigation %>
  </div>
</div>